.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
}

.header__content {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    gap: 40px;
    padding: 0 40px;
    text-align: center;
}

.header__channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header__title {
    font-size: 3rem;
    text-transform: uppercase;
}

.header__title--light {
    font-size: 2rem;
    font-weight: 200;
    display: block;
}

.divider {
    max-width: 700px;
    width: 100%;
    height: 5px;
    background: var(--divider-bg-color);
    background-size: 400% 400%;
}

.offer {
    text-align: center;
    font-size: 1.25rem;
}

.offer__price {
    font-size: 2.5rem;
    font-weight: bold;
}

.offer__price--small {
    font-size: 1rem;
    font-weight: 300;
}

.title {
    font-size: 2rem;
    font-weight: 500;
}

.header__button {
    max-width: 250px;
    align-self: center;
}

.header__button:hover {
    max-width: 250px;
}

.container{
    margin: 20px;
}

.subscription {
    background-image: url("../images/background-movies-series.png");
    background-size: cover;
}

.subscription__plans {
    display: flex;
    flex-flow: row wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin: 32px;
}

.subscription__card {
    background: var(--card-bg-color);
    padding: 40px 60px;
    border-radius: 8px;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
    max-width: 600px;
}

.subscription__plan {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    font-size: 1.4rem;
    padding-left: 22px;
}

.subscription__description {
    list-style: none;
    padding-bottom: 32px;
    font-size: 1.4rem;
}

.subscription__description::before {
    content: "+";
}

.subscription__price {
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 700;
}

.subscription__card button {
    letter-spacing: 5px;
    border: none;
    animation: gradient 10s ease infinite alternate;
}

.contents__container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
}

.contents__card {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    transition: transform 0.8s, background 0.8s, border 1s;
}

.contents__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 2s;
}

.contents__card:hover .contents__image {
    opacity: 0;
}

.contents__card:nth-child(1):hover {
    background-image: url("../images/hbo-hover_0.webp");
}

.contents__card:nth-child(2):hover {
    background-image: url("../images/MAX-Hover.webp");
}

.contents__card:nth-child(3):hover {
    background-image: url("../images/DC-Hover.webp");
}

.contents__card:nth-child(4):hover {
    background-image: url("../images/WB-Hover.webp");
}

.contents__card:nth-child(5):hover {
    background-image: url("../images/CN-Hover.png");
}

.contents__card:nth-child(6):hover {
    background-image: url("../images/UCL-Hover.webp");
}
.contents{
    margin-bottom: 100px;
}


@media screen and (max-width: 1200px) {
    .subscription__plans {
      gap: 40px;
    }
  
    .contents__container {
      gap: 32px;
    }
  }
  
  @media screen and (max-width: 1140px) {
    .subscription__plans {
      flex-direction: column;
      align-items: center;
    }
  
    .subscription__card {
      max-width: 600px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .contents__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .subscription__price {
      font-size: 1.5rem;
    }
  
    .subscription__description {
      font-size: 1rem;
    }
  
    .subscription__plan {
      flex-direction: column;
      justify-content: center;
    }
  
    .subscription__card {
      padding: 40px;
    }
  
    .contents__container {
      grid-template-columns: repeat(6, 100%);
      grid-auto-flow: column;
      overflow: auto hidden;
    }
  }


  .header__button{
    animation: wigglewiggle 2s infinite;
  }

  @keyframes wigglewiggle {
    0% {
      transform: rotate(0);
    }
    15% {
      transform: rotate(-15deg);
    }
    20% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    35% {
      transform: rotate(-10deg);
    }
    40%,
    100% {
      transform: rotate(0);
    }
  }

.header{
    animation: gradient 10s ease infinite alternate;
}
.divider{
    animation: gradient 10s ease infinite alternate;
}
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }